.notification-display {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #06aef0;

  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.notification-display.show {
  display: block;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 18px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.close-button:hover {
  color: red;
}
