.about {
    background-color: #020102;
    height: 400px;
    margin-top: -5px;
    padding: 20px;
}




.about_con {
    width: 100%;
    height: 100%;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_con::before {
    content: "";
    background-image: conic-gradient(#CF1C1A 20deg,
            transparent 120deg);
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 8s linear infinite;
}

.about_con::after {
    /* content: "A motivated, ambitious full stack web developer with MERN stack expertise.I am Looking to launch a career as a web developer"; */
    content: "";
    width: 99.5%;
    height: 98%;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.about_me_box {
    color: white;
    position: absolute;
    margin-top: -390px;
    width: 97.3%;
    height: 380px;
    display: grid;
    grid-template-columns: repeat(2, 60% 40%);

}

.hi {
    text-align: left;
}

.about_me_box>div {}

#about-cont-child-1 {
    text-align: left;
    line-height: 0px;
    padding: 5% 10% 10% 10%;
}

.aboutme-des-div>h2 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
}

.animate-text-conataner {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.animate-text-conataner>h1 {
    font-size: 30px;

}

.about-animate-text {
    font-size: 25px;
    color: #CF1C1A;
    font-weight: bolder;
}

.about_child_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.about_child_2>div {
    border: 1px solid white;
    /* background-color: #cf1d1a63; */
    /* background-color: rgba(255, 255, 255, 0.602); */
    height: 90%;
    width: 60%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -30px;
}

.about_child_2 img {
    width: 100%;
}

.about_me_heading {
    color: #CF1C1A;
    text-align: center;
    margin-bottom: 100px;
}

@media (max-width:1180px) {
    .animate-text-conataner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .about_child_2>div {
        width: 90%;
        height: 250px;
    }
}

@media (max-width:740px) {
    .about_me_box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .aboutme-des-div>h2 {}

    .about_me_box {
        width: 90%;
    }

    .animate-text-conataner>h1 {
        font-size: 22px;
    }

    .animate-text-conataner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .hi {
        font-size: 22px;
    }

    .about {

        height: 700px;
    }
    .about_me_heading {
        position: relative;
        top: -280px;
    }

    .about_child_2 {
        position: absolute;
        bottom: 300px;
    }

    .aboutme-des-div {
        position: absolute;
        bottom: 30px;
    }
}