body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.quiz_container {
  text-align: center;
  margin: 20px;
  padding: 50px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #9de0fd;
}
#restart_btn {
  background-color: red;
  border: 1px solid grey;
  padding: 5px 10px;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
}
.quiz_container > h2 {
  color: blue;
  margin: 0px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

#result_container {
  margin-top: 20px;
}

#question_container {
  border: 1px solid grey;
  display: inline-block;
  padding: 0px 100px;
  font-weight: bold;
  background-color: white;
}
#options_container {
  /* border: 1px solid green; */
  display: inline-block;
  padding: 20px;
}
#options_container > button {
  background-color: grey;

  border: none;
  padding: 8px 15px;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
}
#options_container > button:hover {
  background-color: royalblue;
  cursor: pointer;
}
#next_button {
  background-color: goldenrod;
  padding: 5px 20px;
  border: 1px solid grey;
  cursor: pointer;
}

#next_button:hover {
  background-color: rgb(255, 145, 0);
}
#result_container {
  /* border: 1px solid red; */
  width: 30%;
  margin: auto;
  text-align: center;
  background-color: #b8e9fe;
  padding: 20px;
}

.score_text {
  color: green;
}
