.users-card-parent-div {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
}

.user-delete-edit-btn {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 100%;
}

.admin-user-avatar {
    /* border: 1px solid #5271FF; */
    width: 60%;
    height: 160px;
    margin: auto;
}

.users-card-parent-div .chakra-card {
    border: 1px solid rgb(198, 197, 197);
}

@media (max-width:1024px) {
    .users-card-parent-div {
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:667px) {
    .users-card-parent-div {
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}