/* .navbar_main {
    border: 1px solid black;
    background-color: #0177fd;

    height: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.navbar_main a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 1px solid red;
}

.logo_and_title {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.logo_and_title>a {
    font-family: fantasy;
}

.navbar_main img {
    /* border: 1px solid green; */
/* width: 100px;
}

.register_login {
    display: flex;
    gap: 20px;
/* } */
.navBar {
    border-bottom: 1px solid rgb(233, 231, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar>div:nth-child(1) {
    /* margin-top: 20px; */
}

.navBar img {
    /* border: 1px solid green; */
    width: 80px;
    margin-left: 100%;
}

.navBar>div:nth-child(2) {
    width: 50%;
    /* border: 1px solid yellow; */
    display: flex;
    font-size: large;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.navBar>div:nth-child(2) a:hover {
    color: #EA9F38;
    transition: all 700ms;
}