.firstSlider {
    /* border: 1px solid olivedrab; */
    /* padding: 30px; */
    width: 100%;

}

.firstSlider .slick-next {
    /* border: 1px solid red; */
    position: relative;
    left: 97%;
    top: -300px;
}

.firstSlider .slick-prev {
    /* border: 1px solid rgb(0, 255, 225); */
    position: relative;
    bottom: -330px;
    left: 0px;
    z-index: 1;
}

.firstSlider img {
    width: 100%;
}

.secondSlder img {
    width: 96%;
    margin: auto;
}

@media (max-width: 640px){
    
}