.profile_main {
    /* border: 1px solid green; */
    height: 100vh;
}

.profile_root_name {
    /* border: 1px solid red; */
    font-size: 11px;
    width: 95%;
    margin: auto;
    color: #b3ac9e;
}

.profile_container_1 {
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 30px;
}

.profile_admin_dash_btn {
    border: 1px solid grey;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ea9f37;
    font-weight: bold;
}

.profile_container_1>h1 {
    width: 83%;
    margin: auto;
    font-family: "playfairdisplay";
    font-style: normal;
    font-weight: lighter;
    font-size: 45px;
    transform: scale(1.2);
    color: #313030;
    margin-bottom: 10px;
}

.profile_container_1>p:nth-child(2) {
    font-size: 18px;
    letter-spacing: 2.20px;
    margin-bottom: 10px;
    font-weight: bold;
    /* border: 1px solid rebeccapurple; */
    color: #ea9f37;
}

.LogoutBTN {
    background-color: #1f427f;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.LogoutBTN:hover {
    background-color: #ea9f37;
    transition: 1s;
}

.profileDetail {
    width: 70%;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.profileDetail>div {
    /* border: 1px solid black; */
    height: 450px;
}

.profile_child1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_child1 img {
    width: 50%;
    height: 250px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile_child2 {
    /* border: 1px solid green; */
    padding: 50px;
    text-align: left;

}

.profile_child2>div {

    /* border: 1px solid rebeccapurple; */
}

.profile_child2 div h1 {
    /* border: 1px solid rebeccapurple; */
    font-size: large;
    margin-bottom: 10px;
}

.invisible {
    display: none;
}

.Profile_edit_cont {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.Profile_edit_cont input {
    border: 1px solid rgb(198, 195, 195);
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

.Profile_edit_cont select {
    border: 1px solid rgb(198, 195, 195);
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.profile_child2 button {
    border: 1px solid green;
    width: 200px;
    background-color: #1f427f;
    color: white;
}