.register_main_con {
  /* border: 1px solid red; */
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Register_con {
  /* border: 1px solid red; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 40%;
  padding: 30px;
  margin: auto;
}

.Register_con input {
  border: 1px solid rgb(199, 197, 197);
  width: 99.2%;
  outline: none;
  padding: 7px;
  margin-bottom: 10px;
  font-size: medium;
}

.Register_con select {
  border: 1px solid rgb(199, 197, 197);
  margin-bottom: 10px;
  width: 100%;
  outline: none;
}

.Register_con > div {
  /* border: 1px solid red; */
  display: flex;
  gap: 5px;
}

.Register_con button {
  width: 100%;
  padding: 10px;
  font-size: medium;
  border-radius: 3px;
  border: 1px solid #fde000;
  background-color: #fde000;
  cursor: pointer;
}

.Register_con button:hover {
  background-color: white;
  transition: all 700ms;
}
.register_password_div {
  height: 40px;
  border: 1px solid rgb(199, 197, 197);

  margin-bottom: 10px;
  display: flex;
}
.register_password_div input {
  border: none;
  height: 100%;
}
.register_password_div div {
  display: flex;
  align-items: center;
  padding: 5px;
}

@media (max-width: 900px) {
  .Register_con {
    width: 60%;
  }

  .loginContainer {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .Register_con {
    width: 70%;
  }

  .loginContainer {
    width: 70%;
  }
}

@media (max-width: 430px) {
  .Register_con input,
  select {
    font-size: small;
  }

  .Register_con button {
    font-size: small;
  }

  .Register_con div {
    justify-content: space-between;
    width: 101%;
  }
}
