.items-in-grid .item-title {
    font-weight: bold;
    font-size: 14px;
    /* border: 1px solid red; */
    height: 60px;
    margin-top: 5px;
}

.newArrival-mobile-filter-div {
    display: none;
}

.Newarrivals-main-container {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(2, 18% 82%);
    width: 90%;
    gap: 1%;
    margin: auto;
}

.arrival-loading-div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.arrival-loading-div>img {
    width: 400px;
}

.categories-container-name-checkbox-div {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.categories-container {
    border: 1px solid rgb(200, 198, 198);
    padding: 10px;
    height: 100vh;
    overflow: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.categories-container::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.subcategories-containers>p {
    font-weight: bold;
    text-align: left;
}

input.checkbox {
    width: 1em;
    height: 1em;
}

.Grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-container-heading {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
}

.categories-logos-container>p {
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
}

.item-price {
    /* border: 1px solid red; */
    margin-bottom: 20px;
    color: gray;
}

.items-in-grid {
    text-align: left;
    border: 1px solid rgb(233, 231, 231);
    padding: 10px;
}

.size-container-in-categories {
    margin-top: 20px;
}

.grid-items-size-container {
    border: 1px solid gray;
    align-items: center;
}

.size-title {
    text-align: left;
    font-weight: bold;
}

.color-container-sub-container {
    display: grid;
    grid-template-columns: repeat(3, 20% 72.5% 7.5%);
    /* gap: 5px; */
    margin: left;
    text-align: left;
    margin-bottom: 10px;
}


.quick-voiew-btn {
    border: 1px solid rgb(234, 234, 234);
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: grey;
}

.quick-voiew-btn:hover {
    background-color: #5271ff;
}

.quick-voiew-btn>p {
    font-size: 14px;
}

.color-div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid grey;
}

.color-container>h1 {
    text-align: left;
    font-weight: bold;
}

@media (max-width:1024px) {


    .items-in-grid>a>img {
        /* border: 1px solid red; */
        /* width: 100%; */
        /* height: 200px; */
    }

    .items-in-grid p {
        font-size: 12px;
    }

    .grid-container-heading {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .items-in-grid .item-title {
        font-size: 11px;
        height: 50px;
    }

    .Grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }

    .quick-voiew-btn {
        width: 60%;
    }

    .quick-voiew-btn>p {
        font-size: 12px;
    }

    .subcategories-containers>p {
        font-size: 14px;
    }

    .categories-container-name-checkbox-div>label {
        font-size: 10px;
    }

    .size-container-in-categories>h1 {
        font-size: 14px;
    }

    .size-container-in-categories .grid-items-size-container {
        font-size: 10px;
    }

    .color-container>h1 {
        font-size: 14px;
    }

    .color-container .color-div {
        height: 15px;
        width: 15px;
    }

    .categories-container p {
        font-size: 10px;
    }

    .categories-container .color-container-sub-container {
        grid-template-columns: repeat(3, 20% 60% 20%);
    }
}

@media (max-width: 640px) {
    .Grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }

    .Newarrivals-main-container {
        /* border: 1px solid red; */
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
    }

    .categories-container {
        display: none;
    }

    .grid-container-heading {
        display: none;
    }

    .mobile-grid-container-heading {
        font-size: 14px;
        font-weight: bolder;
    }

    .newArrival-mobile-filter-div {
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
        display: contents;
        display: flex;
        /* align-items: center; */
        gap: 30px;
        padding: 10px 0px;
    }


}